<form action="/users" method="POST">
<label>Author<br>
  <input type="text" name="author" />
</label>
<br>
<label>Comment<br>
  <textarea type="textarea" name="comment" />
</label>
<br>
  <button type="submit">Send</button>
</form>